%%writefile .github/workflows/pipeline.yml
name: Tourist Customer Prediction MLS pipeline

on:
  push:
    branches:
      - main          # auto-trigger on push to main
  workflow_dispatch:  # allow manual run from GitHub UI

jobs:

  data-prep:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction01/requirements.txt

      - name: Run Data Preparation (split + upload X/y to HF)
        run: |
          python tourist_customer_prediction01/model_building/data_prep.py

  model-training:
    needs: data-prep
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction01/requirements.txt

      - name: Train XGBoost Model and Upload to HF Model Hub
        run: |
          python tourist_customer_prediction01/model_building/train.py

  deploy-hosting:
    needs: model-training
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tourist_customer_prediction01/requirements.txt

      - name: Push Streamlit App to Hugging Face Space
        run: |
          python tourist_customer_prediction01/model_deployment/hosting.py
